@font-face {
  font-family: "BarlowMedium";
  src: url("../../fonts/Noto/NotoSerif_SemiCondensed-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Playwrite";
  src: url('../../fonts/Playwrite/PlaywriteAUSA-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: "HeaderFont";
  src: url('../../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Thin";
  src: url("../../fonts/Barlow/Barlow-Thin.ttf") format("truetype");
}

@keyframes changeWord {
  0% { content: "Innovative"; background-color: #324a5f; }
  33% { content: "Advanced"; background-color: #0b508d; }
  66% { content: "Cutting-Edge"; background-color: #3f89a9;}
}

.hero-text h2::before {
  content: "Innovative";
  animation: changeWord 5s infinite;
  background-color: #355571;
  margin: 10px;
  padding: 0px 10px;
}


.hero-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.hero-text.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Full screen height */
  padding: 0 50px; /* Horizontal padding */
  background-color: #324a5f;
}

.hero-text {
  flex: 1;
  color: #ede7e7;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-self: flex-start; */
}

.hero-text h2 {
  font-family: "HeaderFont", sans-serif;
  font-weight: 500;
  font-size: 4rem; /* Larger font size */
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0px;
}

.hero-text p {
  color: #ede7e7;
  font-weight: 100;
  font-family: "Thin", sans-serif;
  font-size: 1.25rem; /* Adjusted font size */
  line-height: 1.6;
  text-align: justify;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Aligns image to the right */
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.quote-button2{
  margin-top: 1vh;
  color: #fff;
  border: 2px solid #546fad;
  box-shadow: 0px 0px 1px #b3baf5;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  /* transition: background-color 0.5s ease; */
  display: inline;
  justify-content: center;
  font-family: 'Thin', sans-serif;
  font-weight: 700;
  align-items: center;
  width:30vw;
}

.quote-button2:hover {
  /* transform: scale(1.1); */
  background-color: #355571;
  box-shadow: 0px 0px 0px #dd3535;
  /* border: none; */
  transition: background-color 0.3s linear;
  color: #fff;
}

.Scroll {
  background-color: rgb(230, 148, 42);
  height: 100vh;
  display: flex;
}

.LeftContainer {
  width: 50%;
}

.RightContainer {
  width: 50%;
}

.LeftContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Cards{
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.CardContainer{
  margin: 10px;
  background-color: aliceblue;
  height: 20vh;
  width: 20vw;
  box-shadow: 1px 1px 1px #fff;
  border-radius: 10px;
}



@media (max-width: 600px) {
  .hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5vh;
    background-color: #324a5f;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .hero-text h2 {
    font-family: "HeaderFont", sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    /* text-shadow: 1px 1px 2px #e0c2c2; */
  }

  .hero-text p {
    font-family: "Thin", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-shadow: 1px 0px 2px #fff;
  }

  .hero-image {
    display: flex;
    flex: 1;
    justify-content: flex-end; /* Aligns image to the right */
  }
  
  .hero-image img {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .Scroll{
    position: relative;
    top: 5vh;
    flex-direction: column-reverse;
  }

  .RightContainer h2{
    justify-content: flex-end;
    font-size: 1rem;
  }
}
