@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/Outfit-Regular.ttf') format('truetype');
  }
  
  .App {
    font-family: Arial, sans-serif;
    min-width: 100%;
    background-color: #324A5F;
    width: 100%;
  }

body::-webkit-scrollbar{
    width: 3px;
  }

  .App::-webkit-scrollbar-thumb{
    background-color: #324A5F;
  }
  
  